# ROS 2 build artifacts
**/build/
**/install/
**/log/

# Python build artifacts
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
.eggs/
dist/
build/

# CMake cache
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ROS 2 Colcon metadata
.colcon/

# === Vim swap/backup files ===
*.swp
*.swo
*.bak
*~

